<link rel="stylesheet" href="/assets/home/plugin/city/css/city-picker.css">
<link rel="stylesheet" href="/assets/home/css/profile.css">

<div class="user">
    <div class="avatar wow fadeInUp">
        <img src="{$LoginBusiness['avatar_cdn']}" />
    </div>
</div>

<form class="mui-input-group" method="post" enctype="multipart/form-data">
    <div class="mui-input-row">
        <label>昵称</label>
        <input type="text" class="mui-input-clear" name="nickname" placeholder="请输入昵称"
            value="{$LoginBusiness['nickname']}">
    </div>
    <div class="mui-input-row">
        <label>手机号码</label>
        <input type="text" class="mui-input-clear" name="mobile" placeholder="请输入手机号码" disabled
            value="{$LoginBusiness['mobile']}">
    </div>
    <div class="mui-input-row">
        <label>邮箱</label>
        <input type="email" class="mui-input-clear" name="email" placeholder="请输入邮箱" value="{$LoginBusiness['email']}">
    </div>
    <div class="mui-input-row">
        <label>密码</label>
        <input type="password" class="mui-input-password" name="password" placeholder="密码为空不修改密码">
    </div>
    <div class="mui-input-row">
        <label>性别</label>
        <select name="gender">
            <option value="0" {$LoginBusiness['gender']==0 ? 'selected' : '' }>保密</option>
            <option value="1" {$LoginBusiness['gender']==1 ? 'selected' : '' }>男</option>
            <option value="2" {$LoginBusiness['gender']==2 ? 'selected' : '' }>女</option>
        </select>
    </div>
    <div class="mui-input-row region">
        <label>地区</label>
        <div class="citypicker">
            <input id="city" type="text" data-toggle="city-picker" name="region" readonly />
            <!-- 隐藏域 -->
            <input type="hidden" name="code" id="code" value="" />
        </div>
    </div>

    <input type="file" class="form-control" id="avatar" name="avatar" style="display: none;" />

    <div class="mui-button-row">
        <button type="submit" class="mui-btn mui-btn-primary">确认</button>
        <button type="button" class="mui-btn mui-btn-danger" onclick="history.go(-1)">返回</button>
    </div>
</form>

<script src="/assets/home/plugin/city/js/city-picker.data.min.js"></script>
<script src="/assets/home/plugin/city/js/city-picker.min.js"></script>

<script>
    // 获取登录信息的省市区
    let province = "{$LoginBusiness.province ? $LoginBusiness.province : ''}";
    let city = "{$LoginBusiness.city ? $LoginBusiness.city : ''}";
    let district = "{$LoginBusiness.district ? $LoginBusiness.district : ''}";

    // 赋值
    let code = parseInt(district) || parseInt(city) || parseInt(province);
    $("#city").val(code);

    $('#city').citypicker();

    $("#city").on("cp:updated", function () {
        let citypicker = $('#city').data('citypicker');
        let code = citypicker.getCode("district") || citypicker.getCode("city") || citypicker.getCode("province");

        //将选择城市地区码 赋值code上
        $("#code").val(code);
    });

    // 选择头像
    $('.avatar').click(function () {
        $('#avatar').click();
    });

    // 监听头像有更新时重新渲染预览图
    $('#avatar').change(function () {
        let file = $(this)[0].files[0];

        if (file) {
            // 创建一个文件读取器对象
            let reader = new FileReader();

            // 让这个对象去读取上面的文件
            reader.readAsDataURL(file);

            // 绑定一个事件，读取成功后拿到结果的事件
            reader.onload = function () {
                //把base64的数据 渲染上去
                $(".avatar img").attr('src', reader.result);
            }
        }
    });
</script>